body {
      box-sizing: border-box;
    }

.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
}

.column {
      flex: 1;
      margin: 10px;
      background-color: #f0f0f0;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.3s;
}

.column:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
      .column {
            flex: 100%;
      }
}

.column-header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
}

.column-body {
      padding: 15px;
      font-size: 14px;
}

footer {
      display: flex!important;
      justify-content: right!important;
      gap: 10px;
}

.w3-xlarge {
      font-size: 32px!important;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.grid-column {
  flex: 20%;
  max-width: 25%;
  padding: 5px 8px;
}

.grid-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 1200px) {
  .grid-column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .grid-column {
    flex: 50%;
    max-width: 100%;
  }
}
