body {
      box-sizing: border-box;
    }

.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
}

.column {
      flex: 1;
      margin: 10px;
      background-color: #f0f0f0;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.3s;
}

.column:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
      .column {
            flex: 100%;
      }
}

.column-header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
}

.column-body {
      padding: 15px;
      font-size: 14px;
}

footer {
      display: flex;
      justify-content: right!important;
      gap: 10px;
}

.w3-xlarge {
      font-size: 32px!important;
}

.contactainer {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
      text-align: center;
}

form {
      margin-top: 20px;
}

.form-group {
      margin-bottom: 20px;
}

.form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
}

.form-group textarea {
      height: 100px;
}

.form-group button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.form-group button:hover {
      background-color: #0056b3;
}
